/*
Balises générales
*/
html{
	min-height: 100%;
}
body{
	padding: 0px;
	margin:0px;
	background:rgb(61,228,31,0.4);
	text-align: center;
	font-family: 'times new roman';
  	font-size:1.5em;
	min-height: 100vh;
}
h1{
	font-size: 2em;
}
.recette{
  text-align: left;
  margin-left: 30%;
  margin-right: 30%;
}
.recette h2{
  text-align: center;
}

#job-offers{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.job-offer{
	width: fit-content;
}
#no-job-offer h2{
	min-height: 8em;
}

#fraises{
  border: solid 0.2em;
  border-color: red; 
  background-color: rgba(240, 11, 11, 0.336);
  border-radius: 1em;
  width: fit-content;
  padding: 1%;
  margin: 0% 10% 0% 10%;
}
#emplois{
	border: solid 0.2em;
	border-color: blue; 
	background-color: rgba(33, 92, 202, 0.336);
	border-radius: 1em;
	width: fit-content;
	margin: 0% 10% 0% 10%;
  }
.p-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

a{
	color:rgb(0,0,0);
}

table{
	border:solid;
	border-collapse: collapse;
	margin:3% 3% 3% 3%;
	width:50%;
}

th,td{
	border:solid 1px;
	text-align: left;
}

.entete{
	text-decoration: underline;
	font-size: x-large;
}

section p{
	text-align: justify;
	padding: 0% 3% 1% 3%;
	margin: 0%;
  	min-width:40%;
}
section h2, section h3{
	padding: 1.7% 3% 0.8% 3%;
	margin: 0%;
  	min-width:40%;
}
.indications{
	margin-left: 15%;
	margin-right:15%;
}
.intro{
	display: flex;

}

.images{
	display: flex;
}
img {
	max-width: 35%;
	height: auto;
	border: solid 3.5px rgb(255,255,255);
		
    margin-left: auto;
    margin-right: auto;
}
footer img{
	max-width: 170%;
	height: auto;
}
/*
Balises spécifiques
*/
.heures{
    justify-content:center;
}
#table_heures{
	margin-left:30%;
}
.coordonnees1{
	display:flex;
	flex-direction: row;
	justify-content:space-around;
	margin-left:5%;
	margin-right:5%;
}
.coordonnees1 p{
	min-width: 10%
}


/*
header
*/
nav{
	box-shadow: 3px 3px 3px rgb(0,0,0);
	padding-bottom: 0px;
	margin-bottom: 0px;
	background:rgb(255,255,255,0.7); 
}

nav ul{
	list-style: none;
	display:flex;
	font-size:xx-large;
	justify-content: flex-start;
	align-items: center;
}


nav li{
		margin:1% 2% 1% 2%;
}

nav a{
	text-decoration: none;
}

nav a:hover{
	color:rgb(255,255,255);
	background-color: rgb(0,128,0);
	border-radius: 5px;
}
#nav-logo {
	display: block;
	max-height:2em;
	max-width:2em;
	height: auto;
	width: auto;
	border: none; 
	margin: 0 0 0 0;
}

/*
footer
*/
footer{
	background: linear-gradient(#008000, #32CD32) bottom;
	height:8em;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	bottom: 0;
	width:100%;
}
.bas{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.carte{
	max-width: 5em;
	max-height:5em;
}
.googlemap{
	font-size: xx-large;
}

footer p{
	text-align: justify;
	padding-left:80%;
}




/*
Mobilephone
*/

@media screen and (max-width:1280px){
  img{
  	max-width: 30%;
    height:auto;
  }
  body{
  	font-size:0.9em;
    word-wrap:break-word;
  }
}